
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-upload-button {
    display: inline-block;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 30px; 
    font-size: 18px; 
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

.home-upload-button:hover {
    background-color: #0056b3;
}


.centered-button-container {
    text-align: center; 
    margin-top: 50px; 
}


button:hover {
    background-color: #0056b3;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li p {
    margin: 5px 0;
}

.upload-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.upload-link:hover {
    text-decoration: underline;
}
